@define-color borders_breeze #524740;
@define-color content_view_bg_breeze #19120c;
@define-color error_color_backdrop_breeze #ffb3b4;
@define-color error_color_breeze #ffb3b4;
@define-color error_color_insensitive_backdrop_breeze #9b7467;
@define-color error_color_insensitive_breeze #9b7467;
@define-color insensitive_base_color_breeze #261e18;
@define-color insensitive_base_fg_color_breeze #988170;
@define-color insensitive_bg_color_breeze #261e18;
@define-color insensitive_borders_breeze #40352c;
@define-color insensitive_fg_color_breeze #907968;
@define-color insensitive_selected_bg_color_breeze #261e18;
@define-color insensitive_selected_fg_color_breeze #907968;
@define-color insensitive_unfocused_bg_color_breeze #261e18;
@define-color insensitive_unfocused_fg_color_breeze #907968;
@define-color insensitive_unfocused_selected_bg_color_breeze #261e18;
@define-color insensitive_unfocused_selected_fg_color_breeze #907968;
@define-color link_color_breeze #8fc9fc;
@define-color link_visited_color_breeze #ebb2ff;
@define-color success_color_backdrop_breeze #00e479;
@define-color success_color_breeze #00e479;
@define-color success_color_insensitive_backdrop_breeze #57885b;
@define-color success_color_insensitive_breeze #57885b;
@define-color theme_base_color_breeze #19120c;
@define-color theme_bg_color_breeze #261e18;
@define-color theme_button_background_backdrop_breeze #2f2620;
@define-color theme_button_background_backdrop_insensitive_breeze #261e18;
@define-color theme_button_background_insensitive_breeze #261e18;
@define-color theme_button_background_normal_breeze #2f2620;
@define-color theme_button_decoration_focus_backdrop_breeze #fcb47b;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #9a7457;
@define-color theme_button_decoration_focus_breeze #fcb47b;
@define-color theme_button_decoration_focus_insensitive_breeze #9a7457;
@define-color theme_button_decoration_hover_backdrop_breeze #fcb47b;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #9a7457;
@define-color theme_button_decoration_hover_breeze #fcb47b;
@define-color theme_button_decoration_hover_insensitive_breeze #9a7457;
@define-color theme_button_foreground_active_backdrop_breeze #d6c3b6;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #907968;
@define-color theme_button_foreground_active_breeze #4d2600;
@define-color theme_button_foreground_active_insensitive_breeze #907968;
@define-color theme_button_foreground_backdrop_breeze #efe0d6;
@define-color theme_button_foreground_backdrop_insensitive_breeze #988170;
@define-color theme_button_foreground_insensitive_breeze #988170;
@define-color theme_button_foreground_normal_breeze #efe0d6;
@define-color theme_fg_color_breeze #d6c3b6;
@define-color theme_header_background_backdrop_breeze #261e18;
@define-color theme_header_background_breeze #261e18;
@define-color theme_header_background_light_breeze #261e18;
@define-color theme_header_foreground_backdrop_breeze #d6c3b6;
@define-color theme_header_foreground_breeze #d6c3b6;
@define-color theme_header_foreground_insensitive_backdrop_breeze #d6c3b6;
@define-color theme_header_foreground_insensitive_breeze #d6c3b6;
@define-color theme_hovering_selected_bg_color_breeze #e3c0a6;
@define-color theme_selected_bg_color_breeze #fcb47b;
@define-color theme_selected_fg_color_breeze #4d2600;
@define-color theme_text_color_breeze #efe0d6;
@define-color theme_titlebar_background_backdrop_breeze #261e18;
@define-color theme_titlebar_background_breeze #261e18;
@define-color theme_titlebar_background_light_breeze #261e18;
@define-color theme_titlebar_foreground_backdrop_breeze #d6c3b6;
@define-color theme_titlebar_foreground_breeze #d6c3b6;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #d6c3b6;
@define-color theme_titlebar_foreground_insensitive_breeze #d6c3b6;
@define-color theme_unfocused_base_color_breeze #19120c;
@define-color theme_unfocused_bg_color_breeze #261e18;
@define-color theme_unfocused_fg_color_breeze #d6c3b6;
@define-color theme_unfocused_selected_bg_color_alt_breeze #563e2b;
@define-color theme_unfocused_selected_bg_color_breeze #563e2b;
@define-color theme_unfocused_selected_fg_color_breeze #d6c3b6;
@define-color theme_unfocused_text_color_breeze #efe0d6;
@define-color theme_unfocused_view_bg_color_breeze #261e18;
@define-color theme_unfocused_view_text_color_breeze #988170;
@define-color theme_view_active_decoration_color_breeze #88511e;
@define-color theme_view_hover_decoration_color_breeze #88511e;
@define-color tooltip_background_breeze #261e18;
@define-color tooltip_border_breeze #584f48;
@define-color tooltip_text_breeze #efe0d6;
@define-color unfocused_borders_breeze #524740;
@define-color unfocused_insensitive_borders_breeze #40352c;
@define-color warning_color_backdrop_breeze #fcb38a;
@define-color warning_color_breeze #fcb38a;
@define-color warning_color_insensitive_backdrop_breeze #9a745b;
@define-color warning_color_insensitive_breeze #9a745b;
